<!DOCTYPE html>
<html>
<head>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 12px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
</style>
</head>
<body>

<ul>
  <li><a href="home">Home</a></li>
  <li><a href="connection">Connection</a></li>
  <li><a href="user">User</a></li>
  <li style="float:right"><a href="#login">Login</a></li>
</ul>
<div style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 50px;
              background: linear-gradient(to left,violet,
              indigo, blue, green, yellow, orange, red);
              -webkit-background-clip: text;
              color: transparent; top: 80px; position: relative;">
      Welcome To SIMPAI!
  </div>
</body>
</html>


